body {
    background-color: #FBF8CC;
    max-width: 1080px;
    margin: auto;
}

header{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_links {
    display: flex;
    gap: 50px;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #03045E;
        font-family: poppins;
        font-size: 18px;
    }
}

}

.container{
    display: flex;
}

.left-side{
    color: #03045E;
    font-family: poppins;
    button{
        background-color: #F5EE84;
        width: 164px;
        height: 68px;
        color: #474306;
        font-size: 20px;
        border-radius: 6px;
        border: 2px solid #474306;
        margin-top: 16px;
    }
    h1,
    p {
        margin: 0;
    }
}

p{
    font-size: 28px;
}

h1{
    font-size: 100px;
}

.nav_links{
    font-family: poppins;
    font-size: 18px;
    color: #03045E;
}

.kelvin{
    font-family: poppins;
    font-size: 24px;
    color: #03045E;
    font-weight: 600;
}

.about-image {
    display: flex;
    justify-content: space-between;
    img{
        width: 32%;
        height: 300px;
        object-fit: cover;
    }
}


