body {
    background-color: #FBF8CC;
}

header{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_links {
    display: flex;
    gap: 50px;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #03045E;
        font-family: poppins;
        font-size: 18px;
    }
}

}

.container{
    display: flex;
}

.left-side{
    color: #03045E;
    font-family: poppins;
    button{
        background-color: #F5EE84;
        width: 82px;
        height: 34px;
        color: #474306;
    }
}

p{
    font-size: 28px;
}

h1{
    font-size: 100px;
}




